/* UTILITIES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   }
   body {
	font-family: cursive;
   }
   a {
	text-decoration: none;
   }
   

   /*backgroung styling*/
   html {
	height: 100%;
	}
	section{
	background-image: linear-gradient(#FFFFFF, rgb(255, 122, 89));
   width:100%;
   min-height: 90vh;
	}
  /* title{
 
	   margin:0;
	   background-color: #8B1E3F;
	   color: title-text;
	   
	}*/


   /* NAVBAR STYLING STARTS */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color:gray;
	color: #fff;
   }
   .nav-links a {
	color: #fff;
   }
   /* LOGO */
   .logo {
	font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
   }
   .menu li:hover {
	background-color: #4c9e9e;
	border-radius: 5px;
	transition: 0.3s ease;
   }
   .menu li {
	padding: 5px 14px;
   }

   /*photo gallery*/
   div.gallery {
      margin: 10px;
      border: 1px solid #ccc;
      float: right;
      width: 100px;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: 120px;
    }
  

  /* styles for h1 and h2 */
h1 {
   color: rgb(225, 65, 65);
font-family: cursive;
font-size: 30px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}

h2 {
   color: rgb(225, 65, 65);
font-family: cursive;
font-size: 20px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}

/* for registration form*/
  div
  {
  text-align:justify;
  text-justify:values;
  } 
  
        body{    
            font-family: cursive;    
        }    
        input[type="text"] {    
            width: 250px;    
        }    
        input[type="submit"], input[type="reset"] {    
            width: 77px;    
            height: 27px;    
            position: relative;left: 180px;    
        }    
        form{    
            text-align: center;    
            font-family: cursive;    
            font-size: 20px;    
            border: 3px solid black;    
            width: 600px;    
            margin: 20px auto;    
        }    
        td {    
            padding: 10px;    
        }    
        td:first-child {    
            text-align: right;    
            font-weight: bold;    
        }    
        td:last-child {    
            text-align: left;    }

 /* for oredered list*/          
.attraction-ol li{
   max-width: 25%;
   color: rgb(225, 65, 65); 
}